<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spotifplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="Spotify Player"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <service
            android:name=".PlayerService"
            android:exported="false" />

        <receiver android:name=".NotificationActionReceiver" />

        <!-- LoginActivity ARTIK AÇILIŞ EKRANI -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity için sadece Spotify auth callback -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="spotifplayer" android:host="callback" />
            </intent-filter>
        </activity>

        <activity android:name=".FavoritesActivity" />
        <activity android:name=".ProfileActivity" />


    </application>
</manifest>
